<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Burger{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <!--Boostraps CSS-->
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">   -->
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
 
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <!--Barre de Navigation-->

    <!-- Bouton rectangle en haut à gauche -->
    <button class="button-17 top-left">06.01.02.03.04</button>

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item">
        <a class="nav-link text-white" href="{{path('app_login')}}">Se connecter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{path('app_register')}}">S'inscrire
        </a>
      </li>
    {% else %}
      <a class="button-17 top-right" href="{{ path('account') }}">Mon compte
      </a>
    {% endif %}
    


    <!-- Logo au milieu en haut -->
    <a href="{{path('index')}}">
      <img src="assets/burgerSF.png" alt="Logo" class="logo">
    </a>
        

    <!-- Navbar -->
    <nav class="navbar">
      <ul>
        <li><a href="{{path('burger')}}">Burger</a></li>
        <li><a href="{{path('wrap')}}">wrap</a></li>
        <li><a href="{{path('sandwich')}}">Sandwich</a></li>
        <li><a href="{{path('petiteFaim')}}">Petite faim</a></li>
        <li><a href="{{path('dessert')}}">Dessert</a></li>
        <li><a href="#frites">Frites</a></li>
      </ul>
    </nav>

    <div class="h-52 bg-white-500">
      <!-- Contenu de votre div -->
    </div>



    {% for message in app.flashes('notice') %}
      <h2 class="alert alert-warning text-center mt-4 mb-4" role="alert">
        {{ message }}
      </h2>
    {% endfor %}

        {% block body %}{% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"> </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
      <script type="module" src="JS/main.js"> </script>
    </body>

    <div class="bg-red-500 w-full h-40 cm mt-10" id="info1"></div>
    <div class="bg-black w-full h-40 cm"></div>


   

</html>







